@tailwind base;
@tailwind components;
@tailwind utilities;

.muiDatePicker {
  background-color: rgba(7, 50, 79, 0.92) !important;
  background-repeat: no-repeat !important;
  clip-path: polygon(
    12px 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%,
    0 12px
  );
  background: url(./assets/menu_top_left.svg) top left, url(./assets/menu_top_right.svg) top right,
    url(./assets/menu_bottom_right.svg) bottom right, url(./assets/menu_bottom_left.svg) bottom left;
}
